@page
@model azure_app_tushar_vs.Pages.deployementSlotModel
@{
    ViewData["Title"] = "Deployment slot page";
}
<div class="text-center">
    <h1 class="display-4">
        Testing deployement slot

    </h1>
    <h3>
        validating deployemnt slot feature
       
    </h3>

</div>