@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Azure App tushar kamankar

    </h1>
    <h3>
        @ViewData["Greeting"]
        we are here to learn about azure features
    </h3>
  
</div>
