@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Azure App Service visual studio community 2022 tushar kamankar

    </h1>
    <h3>
        @ViewData["Greeting"]
    </h3>
  
</div>
